[alias]
	a = add
	b = branch
	bav = branch -av
	c = commit
	cam = commit -am
	d = diff
	l = log --oneline --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	psom = push --set-upstream origin master 
	rh = reset --hard
	rv = remote -v
	s = status --short --branch
[user]
	email = contact@xavierho.com
	name = Xavier Ho
	signingkey = EB11C755
[commit]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
[merge]
	ff = false
